* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

main > section {
  width: 50%;
  height: 100vh;
  padding: 16px;
}

main > section.left {
  border-right: 1px solid grey;
}

main > section.left {
  border-left: 1px solid grey;
}

.controllers {
  display: flex;
  align-items: center;
}

.controllers * {
  font-size: 20px;
}

.controllers > * {
  padding: 4px;
  display: inline-block;
}

.controllers button {
  cursor: pointer;
  padding: 4px;
  margin: 0 1px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.controllers button.active {
  background: var(--primary--100);
  color: var(--primary--900)
}
